* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: map-get($colors, text);
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: map-get($colors, background);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}
