$colors: (
  "text": #f0e7e7,
  "background": #060c23,
  "primary": #3c40a0,
  "secondary": #1c263d,
  "accent": #90a5d5,
  "dark-1": #121212,
  "dark-2": #222,
  "light-1": #fafafa,
  "light-2": #e7e7e7,
);

$font-sizes: (
  "xs": 0.8rem,
  "s": 1.2rem,
  "base": 1.6rem,
  "m": 2rem,
  "l": 2.4rem,
  "xl": 2.8rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
  "heading-2": 4.8rem,
  "heading-1": 5.6rem,
);

$font-weights: (
  "tiny": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
);
