.heading-primary {
  font-size: map-get($font-sizes, heading-2);
  font-weight: map-get($font-weights, semi-bold);
}

.heading-secondary {
  font-size: 4rem;
  font-weight: map-get($font-weights, medium);
}
