.footer {
  width: 100%;
  height: 10rem;
  background-image: url(/assets/footer.svg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 2rem;

  &__list {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;

    &-item {
      width: fit-content;
      height: fit-content;

      a {
        height: fit-content;
        width: fit-content;

        svg {
          width: 3.5rem;
          height: 3.5rem;
          fill: map-get($colors, text);
        }
      }

      &:nth-child(1) {
        a {
          svg {
            fill: none;
            stroke: map-get($colors, text);
          }
        }
      }
    }
  }
}
