.section-topics {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block-end: 4rem;
  text-align: center;
  &__content {
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-inline: 1rem;
    place-items: center;
  }
}

.card {
  position: relative;
  perspective: 150rem;
  height: 35rem;
  width: 19vw;
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
  &__side {
    border-radius: 1rem;
    position: absolute;
    backface-visibility: hidden;
    width: 19vw;
    height: 35rem;
    top: 0;
    left: 0;
    transition: all 1s ease;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);

    &--front {
      background-color: map-get($colors, secondary);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 5rem;

      &--title {
        font-size: map-get($font-sizes, xxl);
      }

      svg {
        fill: map-get($colors, text);
        width: 10rem;
        height: 10rem;
      }
    }

    &--back {
      background-color: map-get($colors, secondary);
      transform: rotateY(180deg);
      padding-inline: 1rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: map-get($font-sizes, m);
      font-weight: map-get($font-weights, medium);
    }
  }
}
